<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/viraj/IdeaProjects/CampusCoffeeProject">
        <classes>
            <class name="testclasses.LoginTest">
                <methods>
                    <include name="verifyLoginWithValidAndPassword"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>